[Unit]
Description=Orange IPTV support for UniFi
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/orange-iptvd start
ExecStop=/usr/local/bin/orange-iptvd stop
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
